<% layout('layouts/admin') %>

<div class="container-fluid">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Edit Coupon</h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li><a href="/dashboard">Dashboard</a></li>
				<li><a href="#">Edit Coupon</a></li>
			</ol>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="white-box">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-body target signupFourm">
						<form data-toggle="validator" id="form_validation" action="/coupons/" method="POST"
							  class="col-xs-10" encType="multipart/form-data">
							<div class="form-group form-float">
								<div class="clearfix">
									<label class="form-label required ">Parent Category <sup> * </sup></label>
								</div>
								<input type="hidden" value="<%= couponInfo.categoryId; %>" id="parentId" />
								<% cat.forEach(function(row,i) { %>
								<div class="form-line custom-control custom-radio catgoryTypes ">
									<input type="radio" class="parent custom-control-input" id="customCheck<%= row.id %>" name="parent_cat" value="<%=row.id %>"
									 <%=(row.id==couponInfo.categoryId) ? 'checked' :'' %>
									>
									<label class="custom-control-label" for="customCheck<%= row.id %>">
										<span class="iconCricle">
											<img src="/uploads/cats/<%= row.icon %>" width="40" style="margin-top: 10px;">
											<span class="checkBox"> <i class="mdi mdi-check"></i> </span>
										</span>
										<p>
											<%= row.name %>
										</p>
									</label>
								</div>
								<% }); %>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group form-float">
								<label class="form-label required ">Subcategory <sup> * </sup></label>
								<input type="hidden" value="<%= couponInfo.subcategoryId; %>" id="subCatId" />
								<div class="form-line ">
									<select name="sub_cat" class="form-control" id="sub_cat" required>
										<option value="">-- Select Subcategory --</option>
										<% cat.forEach(function(row) { %>
										<option value=<%=row.id %>>
											<%= row.name %>
										</option>
										<% }); %>
									</select>
								</div>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group form-float">
								<label class="form-label required ">Store Name <sup> * </sup></label>
								<div class="form-line ">
									<select name="store_name" class="form-control" id="store_name" required>
										<option value="">-- Select Store --</option>
										<% storeData.forEach(function(row) { %>
										<option value="<%=row.id %>" <%=(row.id==couponInfo.storeId) ? 'selected' :'' %>>
											<%= row.store_name %>
										</option>
										<% }); %>
									</select>
								</div>
								<div class="help-block with-errors"></div>
							</div>

							<div class="form-group form-float">
								<label class="form-label required ">Title <sup> * </sup></label>
								<div class="form-line ">
									<input class="form-control" placeholder="Coupon Title" value="<%= couponInfo.title %>" id="inputName1" name="title"
									 type="text" maxlength="50" required>
								</div>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group form-float">
								<label class="form-label required ">Description <sup> * </sup></label>
								<div class="form-line ">
									<input class="form-control" placeholder="Coupon Description"
										   value="<%= couponInfo.description %>" id="inputName12" name="description"
										   type="text" maxlength="100" required>
								</div>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group form-float">
								<label class="form-label required">Select Image <sup> * </sup></label><br>
								<span class="text-muted">(Please upload only image with max 15 MB) </span>
								<div class="form-line">
									<input name="foo" id="image" type="file" class="waves-effect "
										   onchange="readURL(this);"/>
									<% if(couponInfo.image != ''){ %>
										<img id="catImg" src="/uploads/coupons/<%= couponInfo.image %>" width="130">
									<% } else{ %>
										<img id="catImg" src="" width="130">
									<% } %>
								</div>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group form-float">
								<label class="form-label required ">Maximum Users who can redeem a coupon <sup> * </sup></label>
								<div class="form-line ">
									<input class="form-control" placeholder="Maximum Users" value="<%= couponInfo.max_users %>" id="inputName"
										   name="max_users" maxlength="4" type="text" required>
								</div>
								<div class="help-block with-errors"></div>
							</div>
							<div class="row">
								<div class="form-group col-md-6 form-float">
									<label class="form-label required ">Date & Time<sup> * </sup></label>
									<div class="input-group m-t-10"><span class="input-group-addon"><i class="fas fa-calendar"></i></span>
										<input class="form-control" id="datetimepicker4" placeholder="yyyy-mm-dd" name="date" type="text" required
										 value="" onkeydown="return false;">
									</div>
									<div class="help-block with-errors"></div>
									<input type="hidden" id="start_date" value="<%= couponInfo.start_date.toLocaleString() %>" />
								</div>
								<!-- <div class="form-group col-md-4 form-float">
									<label class="form-label required ">Time <sup> * </sup></label>
									<div class="input-group m-t-10 clockpicker" data-placement="left" data-align="top" data-autoclose="true"><span
										 class="input-group-addon"><i class="far fa-clock"></i></span>
										<input class="form-control" placeholder="Time" id="single-input" name="time" type="text" required>
									</div>
									<div class="help-block with-errors"></div>
								</div> -->
								<div class="form-group col-md-6 form-float">
									<label class="form-label required ">Coupons Duration <sup> * </sup></label>
									<div class="form-line ">
										<select name="coupon_duration" class="form-control" id="coupon_duration" required>
											<option value="">-- Select Duration --</option>
											<option value="1" <%=couponInfo.coupon_duration==1 ? 'selected' :'' %> >1 Hr</option>
											<option value="2" <%=couponInfo.coupon_duration==2 ? 'selected' :'' %> >2 Hrs</option>
											<option value="3" <%=couponInfo.coupon_duration==3 ? 'selected' :'' %> >3 Hrs</option>
											<option value="24" <%=couponInfo.coupon_duration==24 ? 'selected' :'' %> >24 Hrs</option>
										</select>
									</div>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="form-group form-float">
								<label class="form-label required ">Items <sup> * </sup></label>
								<div class="form-line ">
									<input class="form-control" placeholder="Items" value="<%= couponInfo.items %>" id="inputName" name="items"
									 type="text" maxlength="50" required>
								</div>
								<div class="help-block with-errors"></div>
							</div>
							<div class="row">
								<div class="form-group col-md-12 form-float">
									<input class="form-line offer"
										   value="1" <%= couponInfo.isSpecial== 0 ? 'checked' : '' %> name="offerType"
										   type="radio"> Regular Offer
									<input class="form-line offer"
										   value="2" <%= couponInfo.isSpecial== 1 ? 'checked' : '' %> name="offerType"
										   type="radio"> Special Offer
								</div>
								<div class="form-group col-md-4 form-float">
									<label class="form-label required ">Discount Offered <sup> * </sup></label>
									<div id="discount" class="input-group m-t-10"><span class="input-group-addon"><i
													class="fas fa-percent"></i></span>
										<input class="form-control allownumericwithdecimal" placeholder="Discount Offered" id="inputName2" name="discount"
										 type="number" value="<%= couponInfo.discount %>" maxlength="3" max="100" min="0" required>
									</div>
									<h4 id='secial'> Special Offer </h4>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-md-4 form-float">
									<label class="form-label required ">Original Price <sup> * </sup></label>
									<div class="input-group m-t-10"><span class="input-group-addon">Kz</span>
										<input class="form-control allownumericwithdecimal" placeholder="Original Price" id="inputName3" name="original_price"
										 maxlength="8" value="<%= couponInfo.original_price %>" type="text" required>
									</div>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-md-4 form-float">
									<label class="form-label required ">Price after Discount <sup> * </sup></label>
									<div class="input-group m-t-10"><span class="input-group-addon">Kz</span>
                                        <input class="form-control allownumericwithdecimal"
                                               placeholder="Price after Discount" value="<%= couponInfo.final_price %>"
                                               id="inputName4"
                                               name="final_price" type="text" required readonly>
									</div>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="row">

								<div class="form-group col-md-6 form-float">
									<label class="form label">Coupon Template Preview
										<sup> * </sup></label>
									<div class="form-line ">
										<button class=" btn btn-primary waves-effect" data-toggle="modal" data-target="#verticalcenter" id="priview"
										 type="button">Coupon
											Preview</button>
									</div>
								</div>
							</div>
							<!-- sample modal content -->
							<div id="verticalcenter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title col-md-11" id="vcenter">Coupon Preview</h4>
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										</div>
										<div class="modal-body" id="couponTemp">

										</div>
										<div class="modal-footer">
											<button type="button" class="btn waves-effect" data-dismiss="modal">Close</button>
										</div>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>
							<!-- /.modal -->
							<div class="form-group text-right">
								<a href="/coupons" class="btn btn-primary waves-effect">BACK</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<style>
	.catgoryTypes.custom-control {
		padding-right: 40px
	}

	.catgoryTypes.custom-control {
		position: relative;
		display: block;
		min-height: 1.5rem;

	}

	.catgoryTypes .custom-couponInfocontrol-label {
		position: relative;
		margin-bottom: 0;
		text-align: center;
		font-weight: normal;

	}

	.catgoryTypes .custom-control-input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	.catgoryTypes.form-line {
		display: inline-block;
	}

	.catgoryTypes.custom-control.custom-radio .iconCricle {
		border-style: solid;
		border-width: 1px;
		border-color: #999999;
		border-radius: 50%;
		background-color: white;
		display: block;
		width: 64px;
		height: 64px;
		margin: 0 auto;
		position: relative;
		text-align: center;
	}

	.catgoryTypes.custom-control.custom-radio .iconCricle .checkBox {
		position: absolute;
		font-size: 26px;
		right: -12px;
		bottom: 6px;
		background: #fff;
		border-radius: 50%;
		line-height: 28px;
		opacity: 0;
	}

	.catgoryTypes.custom-control.custom-radio p {
		margin-top: 10PX;
		text-transform: uppercase;
	}

	.catgoryTypes.custom-radio .custom-control-input:checked~.custom-control-label .iconCricle {
		border-color: #ff0c0c;
	}

	.catgoryTypes.custom-radio .custom-control-input:checked~.custom-control-label {
		color: #ff0c0c;
	}
</style>

<script>
	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function (e) {
				$('#catImg').attr('src', e.target.result);
			};
			reader.readAsDataURL(input.files[0]);
		}
	}

	$(document).ready(function () {
		var parent_cat = $("#parentId").val();
		var subCat = $("#subCatId").val();
		$.post('/coupons/get_subcat', { id: parent_cat, cityId: subCat }, function (success) {
			$("#sub_cat").html('');
			$("#sub_cat").append(success);
		});

		$(".parent").change(function () {
			var parent_cat = $("input[name='parent_cat']:checked").val();
			$.post('/coupons/get_subcat', { id: parent_cat, cityId: subCat }, function (success) {
				$("#sub_cat").html('');
				$("#sub_cat").append(success);
			});
		});

		// $('#datepicker-autoclose').datepicker({
		// 	autoclose: true,
		// 	todayHighlight: true,
		// 	format: "yyyy-mm-dd",
		// 	startDate: new Date()
		// });
		// $('#single-input').clockpicker({
		// 	placement: 'right',
		// 	align: 'left',
		// 	autoclose: true,
		// 	'default': 'now'
		// });


		var start_date = $("#start_date").val();
		var date = new Date(start_date);
		var today = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + ' ' + date.getHours() + ":" + date.getMinutes();
		//var time = date.getHours() + ":" + date.getMinutes();
		//$('#single-input').val(time);
		//$('#datepicker-autoclose').datepicker('setDate', today);		
		//alert(today);
		$(function () {
			$('#datetimepicker4').datetimepicker({
				format: 'YYYY-MM-DD HH:mm',
				defaultDate: today
				//minDate: new Date()
			});
		});

		$(".allownumericwithdecimal").on("keypress keyup blur", function (event) {
			//this.value = this.value.replace(/[^0-9\.]/g,'');
			$(this).val($(this).val().replace(/[^0-9\.]/g, ''));
			if ((event.which != 8) && (event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
				event.preventDefault();
			}
		});

		$("#inputName2").on("keypress keyup blur", function () {
			var price = $("#inputName3").val();
			var discount = $(this).val();
			if (price != '') {
				var final = price - (price * discount) / 100;
				$('#inputName4').val(final);
			}
		});
		$("#inputName3").on("keypress keyup blur", function () {
			var discount = $("#inputName2").val();
			var price = $(this).val();
			if (discount != '') {
				var final = price - (price * discount) / 100;
				$('#inputName4').val(final);
			}
		});
		$("#inputName4").on("keypress keyup blur", function () {
			var original = parseInt($("#inputName3").val());
			var discountPrice = parseInt($(this).val());
			if (original != '') {
				if (original > discountPrice) {
					const amount = original - discountPrice;
					var per = (amount * 100) / original;
					$('#inputName2').val(per.toFixed());
					var element = $("#inputName4")[0];
					element.setCustomValidity('');
				} else {
					var element = $("#inputName4")[0];
					element.setCustomValidity('Please enter value less then Original');
				}
			}
		});

		$("#priview").on("click", function () {
			var storeId = $("#store_name option:selected").val();
			var sub_cat = $("#sub_cat option:selected").val();
			var title = $("#inputName1").val();
			var discount = $("#inputName2").val();
			var desc = $("#inputName12").val();
			var img = $('#catImg').attr('src');
			var date = $("#datetimepicker4").val();
			const offer = $('input[type=radio][name=offerType]:checked').val();
			$.post('/coupons/get_coupon_priview', {
				storeId:storeId,
				sub_cat :sub_cat ,
				title : title,
				discount :discount,
				desc :desc,
				img:img,
				date :date,
				offer :offer
			}, function (success) {
				$("#couponTemp").html(success);
			});
		});
	});

	$('input[type=radio][name=offerType]').change(function () {
		if (this.value == '1') {
			$('#discount').css('display', 'table');
			$('#secial').css('display', 'none');
			$('#inputName4').attr('readonly', 'readonly');
		} else if (this.value == '2') {
			$('#discount').css('display', 'none');
			$('#secial').css('display', 'block');
			$('#inputName4').removeAttr('readonly');
		}
	});
	$(document).ready(function () {
		const offer = $('input[type=radio][name=offerType]:checked').val();
		if (offer == 1) {
			$('#discount').css('display', 'table');
			$('#secial').css('display', 'none');
			$('#inputName4').attr('readonly', 'readonly');
		} else if (offer == 2) {
			$('#discount').css('display', 'none');
			$('#secial').css('display', 'block');
			$('#inputName4').removeAttr('readonly');
		}
	});
</script>