<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Kupon Business Signup</title>
    <!-- Bootstrap core CSS -->
    <link href="/signup/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/signup/css/scrolling-nav.css" rel="stylesheet">
    <link href="/signup/css/animate.css" rel="stylesheet">
    <link href="/signup/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="/signup/css/flaticon.css" rel="stylesheet">
    <link href="/signup/css/style.css" rel="stylesheet">
    <link href="/plugins/bower_components/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
</head>

<body id="page-top" class="loginPags">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger logo" href="<%= home_url %>">
                <img src="img/logo.png" alt="" class="d-block w-100">
            </a>
            <ul class="navbar-nav ml-auto hidden-xs">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact"> <%= LANG.AlreadyRegistered%>
                    </a>
                </li>
            </ul>
            <ul class="secondoryBtns  pl-0">
                <!--
          		<li>
          		<a href="" class="languageDrop" data-toggle="dropdown">En <i class="zmdi zmdi-caret-down"></i></a>
          		<div class="dropdown-menu">
					<a class="dropdown-item" href="#">English</a>
					<a class="dropdown-item" href="#">Español</a>

				  </div>
          		</li>-->
                <li><a href="/login" class="nav-link getApp js-scroll-trigger"> Login </a></li>
            </ul>
        </div>
    </nav>
    <div class="container padding60 mT150">
        <% if (error_flash){ %>
        <div class="alert alert-danger alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <%= error_flash%>
        </div>
        <% } if (success_flash){ %>
        <div class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <%= success_flash %>
        </div>
        <% } %>

        <div class="signupBlock">
            <h3>Get Your Business Registered with Us</h3>
            <div class="signupFourm">
                <form action="/signup" method="post" encType="multipart/form-data">
                    <div class="businessCateg">
                        <h4>Business Categories</h4>
                        <ul>
                            <% cat.forEach(function(row,i) { %>
                            <li>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="category[]" id="customCheck<%= row.id %>"
                                        value="<%= row.id %>" <%=i==0 ? 'checked' :'' %>>
                                    <label class="custom-control-label" for="customCheck<%= row.id %>">
                                        <span class="iconCricle">
                                            <img src="/uploads/cats/<%= row.icon %>" width="40" style="margin-top: 10px;">
                                            <span class="checkBox"> <i class="zmdi zmdi-check-circle"></i> </span>
                                        </span>
                                        <%= row.name %></label>
                                </div>
                            </li>
                            <% }); %>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group form-group">
                                <input type="text" placeholder="Business Name" class="form-control" name="business_name"
                                    required>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <img id="ProfileImg" src="img/breifcase-icon.png" alt="" height="24" width="27">
                                    </span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01" name="profileImg"
                                        data-text="Select Image" data-dragdrop="true" data-btnClass="btn-primary"
                                        data-buttonBefore="true" required onchange="readURL(this);">
                                    <label class="custom-file-label" for="inputGroupFile01">Upload business Logo</label>
                                </div>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group form-group">
                                <input type="text" placeholder="Your Full Name" class="form-control" required name="fname">
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group mobileInput">
                                <span>+244 |</span>
                                <input type="text" placeholder="Mobile Number (Min 5 - Max 14)" class="form-control"
                                    pattern="[0-9]{5,14}" maxlength="14" required name="phone" />
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="email" placeholder="Email Address" class="form-control" required name="email">
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="password" placeholder="Password  (Min 6 digit)" pattern="^.{6,}$" class="form-control"
                                    required name="password">
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group ">
                                <select class="form-control custom-select" name="no_of_stores" required>
                                    <option value="">Number of Stores</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="requiredinput-group">
                                <input type="text" placeholder="Busness Location" id="inputName2" class="form-control model_img img-responsive"
                                    required name="location" onkeydown="return false;" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <input type="hidden" name="business_lat" id="lat" />
                                <input type="hidden" name="business_long" id="long" />
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-sm-7">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck" checked required
                                    name="example1">
                                <label class="custom-control-label" for="customCheck">I Agree agree with the <a href="/terms"
                                        target="_blank">
                                        Terms of Service </a> and <a href="/policy" target="_blank"> Privacy Policy</a>
                                </label>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-sm-5 createBtn">
                            <input type="submit" class="defultBtn" value="Create My Account" />
                        </div>
                    </div>
                    <div class="modal fade bs-example-modal-lg" id="mapId" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                        aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myLargeModalLabel">Select Your Location</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <input id="pac-input" class="controls" type="text" placeholder="Search Address">
                                    <div id="map-canvas"></div>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="height80"></div>
    <!-- Footer -->
    <footer class=" bg-dark innerFooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="footerMenu">
                        <li><a href="#">About Us</a> </li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-6 ">
                    <p class="m-0 text-right text-white">Copyright &copy; Kupon
                        <script>document.write(new Date().getFullYear())</script>
                    </p>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/signup/vendor/jquery/jquery.min.js"></script>
    <script src="/signup/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Sweet-Alert  -->
    <script src="/plugins/bower_components/sweetalert/sweetalert.min.js"></script>
    <script src="/plugins/bower_components/sweetalert/jquery.sweet-alert.custom.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/signup/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="/js/validator.js"></script>
    <!-- Custom JavaScript for this theme -->
    <script src="/signup/js/scrolling-nav.js"></script>
    <script src="/signup/js/animation.js"></script>
    <script>
        $('.carousel').carousel({
            interval: 2000
        })
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#ProfileImg').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $('#inputName2').focus(function () {
            //open bootsrap modal
            $('#mapId').modal({
                show: true
            });
        });
        $(function () {
            $('input').change(function () {
                this.value = $.trim(this.value);
            });
        });
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCE_G6DPc6ym0f_faWC-uaP7VQXehdWEKA&libraries=visualization&callback=initMap&libraries=places"></script>

    <script>
        var myLatlng = new google.maps.LatLng(-8.839988, 13.289437);
        var myOptions = {
            zoom: 13,
            center: myLatlng
        }
        var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
        var geocoder = new google.maps.Geocoder();

        var marker;
        function placeMarker(location) {
            if (marker) {
                marker.setPosition(location);
            } else {
                marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    draggable: false
                });
            }
        }
        google.maps.event.addListener(map, 'click', function (event) {
            placeMarker(event.latLng);
            var lat = parseFloat(event.latLng.lat());
            var lng = parseFloat(event.latLng.lng());
            document.getElementById("lat").value = lat;
            document.getElementById("long").value = lng;
            geocoder.geocode({
                'latLng': event.latLng
            }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        var str = results[0].formatted_address;
                        res = str.replace("Unnamed Road", "Township");
                        document.getElementById("inputName2").value = res;
                    }
                }
            });
        });

        var input = (document.getElementById('pac-input'));
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
        var searchBox = new google.maps.places.SearchBox((input));

        google.maps.event.addListener(searchBox, 'places_changed', function () {
            var places = searchBox.getPlaces();
            if (places.length == 0) {
                return;
            }

            markers = [];
            for (var i = 0, marker; marker = markers[i]; i++) {
                marker.setMap(null);
            }
            var bounds = new google.maps.LatLngBounds();
            for (var i = 0, place; place = places[i]; i++) {
                var image = {
                    url: '/images/marker.png',
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(50, 50)
                };
                // Create a marker for each place.
                var marker = new google.maps.Marker({
                    map: map,
                    icon: image,
                    title: place.name,
                    position: place.geometry.location
                });

                markers.push(marker);

                bounds.extend(place.geometry.location);
            }
            map.fitBounds(bounds);
            map.setZoom(Math.min(map.getZoom(), 15));
        });

        google.maps.event.addListener(map, 'bounds_changed', function () {
            var bounds = map.getBounds();
            searchBox.setBounds(bounds);
        });

    </script>

</body>

</html>