<% layout('layouts/admin') %>
<link href="/plugins/bower_components/switchery/dist/switchery.min.css" rel="stylesheet" />
<style>
    .checked {
      color: orange;
    }
</style>
<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title"><%= LANG.CouponsDetails %></h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="/dashboard"><%= LANG.Dashboard %></a></li>
                <li><a href="/coupons"><%= LANG.Coupons %></a></li>
                <li><a href="#"><%= LANG.CouponsDetails %></a></li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="white-box">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header row">
                        <h3 class="box-title col-md-9 col-xs-9"><%= LANG.CouponsDetails %></h3>
                        <div class="col-md-3 col-xs-3">
                            <a href="/coupons" class="btn pull-right"><%= LANG.Back %></a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table border="1" class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td><%= LANG.Category %></td><td id="category">
                                            <%= couponInfo.category.name %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><%= LANG.Subcategory %></td><td id="Subcategory">
                                            <%= couponInfo.subcategory.name %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><%= LANG.StoreName %></td>
                                        <td id="StoreName">
                                            <% storeData.forEach(function(el, index) { %>
                                                <%= el.store_name %> ,
                                            <% }); %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><%= LANG.Title %></td><td id="Title">
                                            <%= couponInfo.title %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><%= LANG.MaximumUsers %></td><td id="MaxUsers"><%=couponInfo.max_users%></td>
                                    </tr>
                                    <tr>
                                        <td><%= LANG.StartDate %></td><td id="StartDate"><%=moment(couponInfo.start_date).format('d/MMM/YYYY h:mm a');%></td>
                                    </tr>
                                    <tr>
                                        <td><%= LANG.StartTime %></td><td id="StartTime"><%=moment(couponInfo.start_date).format('d/MMM/YYYY h:mm a');%></td>
                                    </tr>
                                    <tr>
                                        <td><%= LANG.CouponDuration %></td><td id="Duration"><%=couponInfo.coupon_duration%></td>
                                    </tr>
                                    <tr>
                                        <td><%= LANG.Items %></td><td id="Items">
                                            <%= couponInfo.items %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><%= LANG.Discount %> </td><td id="Discount">
                                            <%=(couponInfo.isSpecial)? LANG.SpecialOffer :couponInfo.discount+"%"%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><%= LANG.OriginalPrice %> </td><td id="Original"><%=couponInfo.original_price%></td>
                                    </tr>
                                    <tr>
                                        <td><%= LANG.FinalAmount %></td><td id="PriceAfter"><%=couponInfo.final_price%></td>
                                    </tr>
                                    <tr>
                                        <td><%=LANG.COUPON_RATING; %></td>
                                        <td class="user_rating">
                                            <spna class="rating_num"><%=averageCountRating; %></spna>
                                            <div class="user_ratingStar">
                                                <span class="fa fa-star <%= (averageRating >= 1)?'checked':'' %>"></span>
                                                <span class="fa fa-star <%= (averageRating >= 2)?'checked':'' %>"></span>
                                                <span class="fa fa-star <%= (averageRating >= 3)?'checked':'' %>"></span>
                                                <span class="fa fa-star <%= (averageRating >= 4)?'checked':'' %>"></span>
                                                <span class="fa fa-star <%= (averageRating >= 5)?'checked':'' %>"></span>
                                            </div>
                                            <span class="rating_userTotal"><i class="fa fa-user"></i> <%=userCount; %> total</span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>

            <!-- /.panel-body -->
        </div>
    </div>
    <div class="white-box">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header row">
                        <h3 class="box-title col-md-9 col-xs-9"><%=LANG.COUPON_VIEW_USERS; %></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="example2" class="table table-bordered table-hover table-responsive table-striped">
                                <thead>
                                    <tr>
                                        <th><%= LANG.FirstName %></th>
                                        <th><%= LANG.LastName %></th>
                                        <th><%= LANG.CouponCode %></th>
                                        <th><%= LANG.Date %></th>
                                        <th data-sortable="false"><%= LANG.Status %></th>
                                    </tr>
                                    <tr class="search_bar">
                                        <td><%= LANG.FirstName %></td>
                                        <td><%= LANG.LastName %></td>
                                        <td><%= LANG.CouponCode %></td>
                                        <td><%= LANG.Date %></td>
                                        <td data-sortable="false"></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--  -->
                                    <% getRedeemed.forEach(function(value) {  %>
                                    <tr>
                                        <td>
                                            <%= value.user.fname %>
                                        </td>
                                        <td>
                                            <%= value.user.lname %>
                                        </td>
                                        <td>
                                            <%= value.coupon_code %>
                                        </td>
                                        <td><%=momentJs(value.createdAt).format('DD/MMM/YYYY hh:mm A');%>
                                        </td>
                                        <td>
                                             <%= LANG.Redeemed %> (<a href="/stores/view/<%=value.store.id%>">
                                                <%= value.store.store_name %>
                                            </a>)
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>

            <!-- /.panel-body -->
        </div>
    </div>
</div>
<style>
    #example2_filter {
        display: none;
    }
</style>
<style>
    .user_rating{
        display: flex;
        flex-direction: column;
    }
    .rating_num{font-size: 30px;}
    .user_ratingStar{
        display: flex;
        align-items: center;
    }
    .rating_userTotal{margin-top: 10px;}
</style>
<script src="/plugins/bower_components/switchery/dist/switchery.min.js"></script>
<script src="/plugins/bower_components/datatables/datatables.min.js"></script>
<script>
    $(function () {
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        $('.js-switch').each(function () {
            //new Switchery($(this)[0], $(this).data());
            var switchery = new Switchery($(this)[0], { color: '#ddf004', jackColor: '#fff' });
        });
        $('.js-switch').change(function () {
            var id = $(this).data('id');
            var status = $(this).is(':checked');
            var obj = { id: id };
            obj.status = status;
            var url = "/" + $(this).data('model_id') + '/status';
            console.log("test=====>>>", status, url);

            $.post(url, obj, function (data) {
                if (data) console.log(data);
            });
        });
    });
    $(function () {
        $(document).ready(function () {
            var tab = $('#example2').DataTable({
                "paging": true,
                "bSortCellsTop": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "order": [[ 3, "desc" ]],
                "info": true,
                "language": {
                    "info": '<%= LANG.Showing %> _START_ <%= LANG.to %> _END_ <%= LANG.of %> _TOTAL_ <%= LANG.entries %>',
                    "sLengthMenu": '<%= LANG.Showing %> _MENU_ <%= LANG.entries %>',
                    "zeroRecords": "<%= LANG.zeroRecords %>",
                    "infoEmpty": "<%= LANG.noRecords %>",
                    "infoFiltered": "( <%= LANG.infoFiltered %> _MAX_ <%= LANG.infoFiltered2 %>) ",
                    "paginate": {
                        "previous": "<%=LANG.Previous; %>",
                        "next": "<%=LANG.Next; %>"
                    }
                },
                "autoWidth": false,
                "responsive": true,
                "columnDefs": [{ type: 'date', 'targets': [3] },
                    { "width": "14%", "targets": 0 },
                    { "width": "14%", "targets": 1 },
                    { "width": "14%", "targets": 2 },
                    { "width": "14%", "targets": 3 },
                    { "width": "14%", "targets": 4 },
                ]
            });

            $('#example2 thead tr.search_bar td').each(function (value) {
                if (value !== 4) {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form-control" placeholder="<%=LANG.SearchBy %> ' + title.toLowerCase() + '" data-index="' + value + '" />');
                }
            });

            $(tab.table().container()).on('keyup change', '.search_bar input', function () {
                tab.column($(this).data('index')).search(this.value).draw();
            });
        });
    });
    $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary m-r-10');
</script>