<% layout('layouts/admin') %>
<link rel="stylesheet" href="/plugins/bower_components/html5-editor/bootstrap-wysihtml5.css" />
<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Static Pages</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="#">Pages</a></li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- Tabstyle start -->
    <div class="white-box">
        <h3 class="box-title m-b-0 m-t-10">Static Pages</h3>
        <p class="text-muted m-b-30"> Edit Static Pages Here</p>
        <section class="m-t-40">
            <div class="sttabs tabs-style-underline">
                <nav>
                    <ul>
                        <li><a href="#section-underline-1"><span>About Us</span></a></li>
                        <li><a href="#section-underline-2"><span>Contact Us</span></a></li>
                        <li><a href="#section-underline-3"><span>Terms & Conditions</span></a></li>
                        <li><a href="#section-underline-4"><span>FAQ</span></a></li>
                        <li><a href="#section-underline-5"><span>Privacy</span></a></li>
                    </ul>
                </nav>
                <div class="content-wrap">
                    <section id="section-underline-1">
                        <form method="post" action="/pages/updatePage/<% if(data.about_us){%><%= data.about_us.id %><% } %>">
                            <h3>English</h3>
                            <div class="form-group">
                                <textarea class="textarea_editor form-control" rows="18" name="about_us" placeholder="Enter text ...">
                                        <% if(data.about_us){%><%= data.about_us.description %><% } %></textarea>
                            </div>
                            <h3>Español</h3>
                            <div class="form-group">
                                <textarea class="textarea_editor5 form-control" rows="18" name="description_pt" placeholder="Enter text ...">
                                        <% if(data.about_us){%><%= data.about_us.description_pt %><% } %></textarea>
                            </div>
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-danger">Submit</button>
                            </div>
                        </form>
                    </section>
                    <section id="section-underline-2">
                        <form method="post" action="/pages/updatePage/<% if(data.contact_us){%><%= data.contact_us.id %><% } %>">
                            <h3>English</h3>
                            <div class="form-group">
                                <textarea class="textarea_editor2 form-control" rows="18" name="contact_us" placeholder="Enter text ...">
                                    <% if(data.contact_us){%><%= data.contact_us.description %><% } %></textarea>
                            </div>
                            <h3>Español</h3>
                            <div class="form-group">
                                <textarea class="textarea_editor6 form-control" rows="18" name="description_pt" placeholder="Enter text ...">
                                    <% if(data.contact_us){%><%= data.contact_us.description_pt %><% } %></textarea>
                            </div>
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-danger">Submit</button>
                            </div>
                        </form>
                    </section>
                    <section id="section-underline-3">
                        <form method="post" action="/pages/updatePage/<% if(data.terms){%><%= data.terms.id %><% } %>">
                            <h3>English</h3>
                            <div class="form-group">
                                <textarea class="textarea_editor3 form-control" rows="18" name="terms" placeholder="Enter text ...">
                                    <% if(data.terms){%><%= data.terms.description %><% } %></textarea>
                            </div>
                            <h3>Español</h3>
                            <div class="form-group">
                                <textarea class="textarea_editor7 form-control" rows="18" name="description_pt" placeholder="Enter text ...">
                                    <% if(data.terms){%><%= data.terms.description_pt %><% } %></textarea>
                            </div>
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-danger">Submit</button>
                            </div>
                        </form>
                    </section>
                    <section id="section-underline-4">
                        <form method="post" action="/pages/updatePage/<% if(data.faq){%><%= data.faq.id %><% } %>">
                            <h3>English</h3>
                            <div class="form-group">
                                <textarea class="textarea_editor4 form-control" rows="18" name="faq" placeholder="Enter text ...">
                                        <% if(data.faq){%><%= data.faq.description %><% } %></textarea>
                            </div>
                            <h3>Español</h3>
                            <div class="form-group">
                                <textarea class="textarea_editor8 form-control" rows="18" name="description_pt" placeholder="Enter text ...">
                                        <% if(data.faq){%><%= data.faq.description_pt %><% } %></textarea>
                            </div>
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-danger">Submit</button>
                            </div>
                        </form>
                    </section>
                    <section id="section-underline-5">
                        <form method="post" action="/pages/updatePage/<% if(data.privacy){%><%= data.privacy.id %><% } %>">
                            <h3>English</h3>
                            <div class="form-group">
                                <textarea class="textarea_editor9 form-control" rows="18" name="privacy" placeholder="Enter text ...">
                                        <% if(data.privacy){%><%= data.privacy.description %><% } %></textarea>
                            </div>
                            <h3>Español</h3>
                            <div class="form-group">
                                <textarea class="textarea_editor10 form-control" rows="18" name="description_pt" placeholder="Enter text ...">
                                        <% if(data.privacy){%><%= data.privacy.description_pt %><% } %></textarea>
                            </div>
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-danger">Submit</button>
                            </div>
                        </form>
                    </section>
                </div>
                <!-- /content -->
            </div>
            <!-- /tabs -->
        </section>
    </div>
    <!-- Tabstyle start -->

</div>
</div>