<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
        </div>
        <div class="user-profile m-t-15">
            <div class="dropdown user-pro-body">
                <% if(store_user.user.user_image != ''){ %>
                    <div style="background-image:url('/uploads/business/<%= store_user.user.user_image %>')" class="logImg"></div>
                <% } else{ %>
                    <div style="background-image:url(../plugins/images/users/varun.jpg)" class="logImg"></div>
                <% } %>
                <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <%= store_user.store_name %>
                    <span class="caret"></span></a>
                <ul class="dropdown-menu animated flipInY">
                    <li><a href="/profile"><i class="ti-user"></i> <%= LANG.MyProfile %></a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout"><i class="fa fa-power-off"></i> <%= LANG.Logout %></a></li>
                </ul>
            </div>
        </div>
        <ul class="nav" id="side-menu">
            <li> <a href="/dashboard" class="waves-effect <% if(title == 'dashboard'){ %> active <% }%>"><i class="mdi mdi-home fas-fw"
                        data-icon="v"></i>
                    <span class="hide-menu"> <%= LANG.Dashboard %> <span class="fa arrow"></span> </span></a>
            </li>
            <li> <a href="/finance" class="waves-effect <% if(title == 'finance'){ %> active <% }%>">
                    <i class="mdi mdi-store fa-fw" data-icon="v"></i>
                    <span class="hide-menu"> <%= LANG.ManageFinance %> <span class="fa arrow"></span> </span>
                </a>
            </li>
            <li> <a href="/coupons" class="waves-effect <% if(title == 'coupons'){ %> active <% }%>">
                    <i class="ti-ticket fa-lg fa-fw" data-icon="v"></i>
                    <span class="hide-menu"> <%= LANG.Coupons %> <span class="fa arrow"></span> </span>
                </a>
            </li>
            <li> <a href="/deals" class="waves-effect <% if(title == 'deals'){ %> active <% }%>">
                    <i class="mdi mdi-tag-multiple fa-fw" data-icon="v"></i>
                    <span class="hide-menu"> <%= LANG.DealsoftheDay %> <span class="fa arrow"></span> </span>
                </a>
            </li>

            <li class="devider"></li>
            <li><a href="/logout" class="waves-effect"><i class="mdi mdi-logout fa-fw"></i>
                    <span class="hide-menu"><%= LANG.Logout %></span></a></li>
            <li class="devider"></li>
        </ul>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Left Sidebar -->
<!-- ============================================================== -->